<div class="user-edit-component">
    <div class="container">
        <h2 class="mb-2 mt-0">Nuevo Usuario</h2>
        <div class="row">
            <form class="col-md-8 col-sm-12" autocomplete="off" [formGroup]="newUserForm">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="name" formControlName="name" />
                </div>
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" name="lastname" formControlName="lastname" />
                </div>
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" name="email" formControlName="email" />
                </div>
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="text" class="form-control" name="phone" formControlName="phone" />
                </div>
                <div class="form-group">
                    <label for="">Sexo</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="sexo" id="disabled" formControlName="sexo" class="custom-control-input" value="1" />
                        <label class="custom-control-label" for="disabled">Varon</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="sexo" id="actived" formControlName="sexo" class="custom-control-input" value="2" />
                        <label class="custom-control-label" for="actived">Mujer</label>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-light" type="button" (click)="onCancel()">Cancelar</button>
                    <button class="btn btn-primary ml-3" (click)="onSave(newUserForm)" type="button" [disabled]="newUserForm.invalid">Crear usuario</button>
                </div>
            </form>
        </div>
    </div>
</div>